.subhead {
    line-height:1.25em;
}
.form-group .form-control {
    border-width:1px;
}
.form-group label .text-muted {
    font-weight:500;}
.modal-backdrop {
    background-color:#fff;
}
.modal-backdrop.show {
    opacity:1;
}
