/* K-LOVE styles */

@font-face {
    font-family: 'kl2-icons';
    src: url('/klove2/fonts/kl2-icons.woff');
}


@font-face {
    font-family: EnjoytheRideRegular;
    src: url(../img/EnjoytheRideRegular.otf);
}

#header-img {
    background-image: url('../img/wesley-tingey-223059.jpg');
    height: 200px;
    background-size: cover;
    background-position: center;
}

/* PARALLAX */


/* NAV */

.secondary-nav {
    background:#00aeff;

    background: radial-gradient(#00aeff, #00ccff, #00aeff);
    background-size: 600% 600%;

    -webkit-animation: secondaryNav 20s ease infinite;
    -moz-animation: secondaryNav 20s ease infinite;
    -o-animation: secondaryNav 20s ease infinite;
    animation: secondaryNav 20s ease infinite;

    display:block;
    overflow:hidden;
    width:100%;
    /*    box-shadow: 0 0em 1.75em 0em rgba(0,0,0,.2);*/

}

@-webkit-keyframes secondaryNav {
    0%{background-position:18% 0%}
    50%{background-position:83% 100%}
    100%{background-position:18% 0%}
}
@-moz-keyframes secondaryNav {
    0%{background-position:18% 0%}
    50%{background-position:83% 100%}
    100%{background-position:18% 0%}
}
@-o-keyframes secondaryNav {
    0%{background-position:18% 0%}
    50%{background-position:83% 100%}
    100%{background-position:18% 0%}
}
@keyframes secondaryNav { 
    0%{background-position:18% 0%}
    50%{background-position:83% 100%}
    100%{background-position:18% 0%}
}

.secondary-nav .listen-now {
    position:relative;
}
.secondary-nav .listen-now button {
    background:#fff;
}
.secondary-nav .now-playing {
    border-right:solid 1px #00d2ff;
}
.secondary-nav .now-playing .album-art img {
    border:solid 1px rgba(0,0,0,.1);
    height:48px;
}
.secondary-nav .now-playing {
    display:inline-block;
    position:relative;
}
.secondary-nav .now-playing .album-art {
    float:left;
}
.secondary-nav .now-playing .text {
    display:inline-block;
}
.secondary-nav .now-playing .text .song-title {
    color:#fff;
    font-weight:300;
    letter-spacing:.025em;
    line-height:1;
}
.secondary-nav .now-playing .text .artist-name {
    color:#fff;
    font-size:.75em;
    font-weight:bold;
    letter-spacing:.05em;
    line-height:1;
    text-transform:uppercase;
}
.secondary-nav .now-playing .text .artist-name span {
    font-weight:300;
}
.secondary-nav .recently-played {
    position:relative;
}
.secondary-nav .recently-played button {
    background-color:rgba(255,255,255,.2);
    color:#fff;
}
.secondary-nav .recently-played button:hover {
    box-shadow:none;
    background-color:rgba(255,255,255,.4);
}
.secondary-nav .search {

}
.secondary-nav .search input {
    border:0;
    color:#999;
    font-weight:300;
    padding:.75em;
    height:100%;
    width:100%;
}


/* MISC */

.mfix {
    margin-left: -15px;
    margin-right: -15px;
}

.negmar {
    margin-top: -4.5rem;
}

.negmar-2 {
    margin-top: -6rem;
}

.negmar-3 {
    margin-top: -4rem;
}

.ic-center {
    margin-top: 35%;
}

.vl {
    border-left: 1px solid;
}

.hl {
    border-bottom: 5px solid #E5F6FD;
}

.v-align-middle {
    position:relative;    transform:translateY(-50%);
    top:50%;
}

.full-width {
    width: 100vw;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}

.card {
    border-style: none;
}

.fluid-band {
    width: 100%;
    padding-left: 0;
    margin-left: 0;
    padding-top: 2em;
    padding-bottom: 2em;
}

.shadow {
    -webkit-box-shadow: 0px 13px 39px 0px rgba(0, 42, 58,0.07);
    -moz-box-shadow: 0px 13px 39px 0px rgba(0, 42, 58,0.07);
    box-shadow: 0px 13px 39px 0px rgba(0, 42, 58,0.07);
}

.shadow-2 {
    -webkit-box-shadow: 0px 13px 39px 0px rgba(0,0,0,0.15);
    -moz-box-shadow: 0px 13px 39px 0px rgba(0,0,0,0.15);
    box-shadow: 0px 13px 39px 0px rgba(0,0,0,0.15);
}

.shadow-3 {
    -webkit-box-shadow: 0px 13px 39px 0px rgba(0,0,0,0.1);
    -moz-box-shadow: 0px 13px 39px 0px rgba(0,0,0,0.1);
    box-shadow: 0px 13px 39px 0px rgba(0,0,0,0.1);
}


.hard-shadow {
    -webkit-box-shadow: 0px 3px 0px 0px rgba(0,0,0,0.05);
    -moz-box-shadow: 0px 3px 0px 0px rgba(0,0,0,0.05);
    box-shadow: 0px 3px 0px 0px rgba(0,0,0,0.05);
}

.op40 {
    opacity: 0.4;
    filter: alpha(opacity=40); /* For IE8 and earlier */
}

.op60 {
    opacity: 0.6;
    filter: alpha(opacity=40); /* For IE8 and earlier */
}

/* COLOR */

.text-cyan {
    color: #00AEEF;
}

.red {
    background-color: lightgrey;
    height: 1em;
}

.magenta {
    background-color: #C63663;
}

.orange {
    background-color: #ED6430;
}

.yellow {
    background-color: #FFDF63;
}

.bg-cyan {
    background-color: #00AEEF;
}

.gray {
    background-color: #F7F8FA;
}

.light-cyan {
    background-color: #E5F6FD;
}

.bg-kldark {
    background-color: #273444;
}

.bg-kllight {
    background-color: #F7F8FA;
}


/* SOCIAL */


.color-facebook {
    color: #3b5998;
}

.color-pinterest {
    color: #bd081c;
}

.color-youtube {
    color: #ff0000;
}

/* ALERTS */

.alert {
    border-style: none;
    border-radius: 5px;
}


/* COLOR CARDS & TEXT */

.prime-base {
    background-color: #00AEEF;
    height: 5.4em;
    border-radius: .25em;
}

.color-secondary {
    background-color: #000000;
    height: 5.4em;
    border-radius: .25em;
}

.color-highlight-1 {
    background-color: #ED6430;
    height: 5.4em;
    border-radius: .25em;
}

.color-highlight-2 {
    background-color: #FFDF63;
    height: 5.4em;
    border-radius: .25em;
}

.color-highlight-3 {
    background-color: #C63663;
    height: 5.4em;
    border-radius: .25em;
}

.text-magenta {
    color: #C63663;
}

.text-orange {
    color: #ED6430;
}

.text-yellow {
    color: #FFDF63;
}

.text-cyan {
    color: #00AEEF;
}

.text-grad {
    background: linear-gradient(45deg, #00AEEF 0%, #00D7F8 100%);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;

}

/* BADGES */

.badge {
    border-radius: 0;
}

.badge-danger {
    background-color: #C63663;
}

.badge-warning {
    background-color: #FFDF63;
}

.badge-primary {
    background-color: #00AEEF;
}

/* TYPOGRAPHY */

.enjoy-font {
    font-family: 'EnjoytheRideRegular', Fallback, sans-serif;
}

h1 {
    color: #343a40;
}

h3 {
    line-height: 1.5em;
}

h4 {
    line-height: 1.5em;
}

h5 {
    line-height: 1.3em;
    letter-spacing: .02em;
}

h6 {
    line-height: 1.4em;
}

a {
    color: #00AEEF;
}

a {
    transition: background-color 0.5s ease;
}

p {
    line-height: 1.75em;
}

a:hover {
    transition: background-color 0.5s ease;
}

.subhead {
    color: #868e96;
    font-weight: 300;
    letter-spacing: 1px;
    font-size: 24px;
}

.section-heading {
    background-color: aqua;
    color: white;
}

/* BUTTONS SOLID */

.badge {
    padding: .625em;
    font-weight: 400;
}

.btn-wrap .btn {
    margin-left: 25px;
    margin-bottom: 25px;
}

.btn-primary, .btn-secondary, .btn-warning, .btn-success, .btn-danger, .btn-info, .btn-light, .btn-dark, .btn-link {
    font-weight: 400;
    padding: .75em 1.25em;
    border-width: 0px;
    border-radius: 5px;
    transition: all 0.5s ease;
}

.btn-wrap {
    margin-left: -25px;
}

.btn-primary {
    background-color: #00AEEF;
    transition: all 0.5s ease;
}

.btn-link {
    background-color: #fff;
    color: #00AEEF;
}

.btn-primary:hover {
    background-color: #33BEF2;
    -webkit-box-shadow: 0px 13px 39px 0px rgba(0,174,239,0.3);
    -moz-box-shadow: 0px 13px 39px 0px rgba(0,174,239,0.3);
    box-shadow: 0px 13px 39px 0px rgba(0,174,239,0.3);
    transition: all 0.5s ease;
}

.btn-secondary:hover {
    background-color: #a2aab2;
    -webkit-box-shadow: 0px 13px 39px 0px rgba(134,142,150,0.3);
    -moz-box-shadow: 0px 13px 39px 0px rgba(134,142,150,0.3);
    box-shadow: 0px 13px 39px 0px rgba(134,142,150,0.3);
    transition: all 0.5s ease;
}

.btn-success:hover {
    background-color: #53B86A;
    -webkit-box-shadow: 0px 13px 39px 0px rgba(83,184,106,0.3);
    -moz-box-shadow: 0px 13px 39px 0px rgba(83,184,106,0.3);
    box-shadow: 0px 13px 39px 0px rgba(83,184,106,0.3);

}

.btn-danger:hover {
    background-color: #E35D6A;
    -webkit-box-shadow: 0px 13px 39px 0px rgba(220,53,69,0.3);
    -moz-box-shadow: 0px 13px 39px 0px rgba(220,53,69,0.3);
    box-shadow: 0px 13px 39px 0px rgba(220,53,69,0.3);
}

.btn-warning:hover {
    background-color: #FFCD38;
    -webkit-box-shadow: 0px 13px 39px 0px rgba(255,205,56,0.3);
    -moz-box-shadow: 0px 13px 39px 0px rgba(255,205,56,0.3);
    box-shadow: 0px 13px 39px 0px rgba(255,205,56,0.3);
}

.btn-dark:hover {
    background-color: #5C6166;
    -webkit-box-shadow: 0px 13px 39px 0px rgba(52,58,64,0.3);
    -moz-box-shadow: 0px 13px 39px 0px rgba(52,58,64,0.3);
    box-shadow: 0px 13px 39px 0px rgba(52,58,64,0.3);
}

.btn-light:hover {
    -webkit-box-shadow: 0px 13px 39px 0px rgba(226,230,234,0.5);
    -moz-box-shadow: 0px 13px 39px 0px rgba(226,230,234,0.5);
    box-shadow: 0px 13px 39px 0px rgba(226,230,234,0.5);
}

.btn-info:hover {
    background-color: #45B4C6;
    -webkit-box-shadow: 0px 13px 39px 0px rgba(69,180,198,0.3);
    -moz-box-shadow: 0px 13px 39px 0px rgba(69,180,198,0.3);
    box-shadow: 0px 13px 39px 0px rgba(69,180,198,0.3);
}

.btn-link:hover {
    text-decoration: none;
    background-color: #fff;
    color: #00AEEF;
    -webkit-box-shadow: 0px 13px 39px 0px rgba(0, 42, 58,0.1);
    -moz-box-shadow: 0px 13px 39px 0px rgba(0, 42, 58,0.1);
    box-shadow: 0px 13px 39px 0px rgba(0, 42, 58,0.1);
    transition: all 0.5s ease;
}


/* BUTTONS OUTLINED */

.btn-outline-primary, .btn-outline-secondary, .btn-outline-warning, .btn-outline-success, .btn-outline-danger, .btn-outline-info, .btn-outline-light, .btn-outline-dark {
    font-weight: 300;
    padding: .75em 1.2em;
    border-radius: 5px;
    transition: all 0.5s ease;
}

.btn-outline-light {
    color: #343a40;
    border-color: #b8bfc4;
}

.btn-outline-light:hover {
    color: #fff;
    background-color: #868e96;
    border-color: #868e96;
}

.btn-outline-primary {
    color: #002A3A;
    border-color: #00AEEF;
}

.btn-outline-primary:hover {
    color: #fff;
    border-color: #00AEEF;
    background-color: #00AEEF;
}



/* FORMS */

.form-control {
    padding: .75em 1.2em .75em .75em;
    border-width: 2px;
    border-radius: 5px;
    border-color: #b8bfc4;
}


/* CARD */

.height-fix {
    height: 100%;
    width: 100%;
}

.diffuse {
    transition: all 0.5s ease;
}

.diffuse:hover {
    text-decoration: none;
    -webkit-box-shadow: 0px 13px 39px 0px rgba(0, 42, 58,0.1);
    -moz-box-shadow: 0px 13px 39px 0px rgba(0, 42, 58,0.1);
    box-shadow: 0px 13px 39px 0px rgba(0, 42, 58,0.1);
    transition: all 0.5s ease;
}


/* RIPPLE EFFECT */

.ripple {
    position: relative;
    overflow: hidden;
    transform: translate3d(0, 0, 0);
}
.ripple:after {
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    pointer-events: none;
    background-image: radial-gradient(circle, #efefef 10%, transparent 10.01%);
    background-repeat: no-repeat;
    background-position: 50%;
    transform: scale(10, 10);
    opacity: 0;
    transition: transform .5s, opacity 1s;
}
.ripple:active:after {
    transform: scale(0, 0);
    opacity: .3;
    transition: 0s;
}

/* RIPPLE ON LIGHT */

.ripple-2 {
    position: relative;
    overflow: hidden;
    transform: translate3d(0, 0, 0);
}
.ripple-2:after {
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    pointer-events: none;
    background-image: radial-gradient(circle, #00AEEF 10%, transparent 10.01%);
    background-repeat: no-repeat;
    background-position: 50%;
    transform: scale(10, 10);
    opacity: 0;
    transition: transform .5s, opacity 1s;
}
.ripple-2:active:after {
    transform: scale(0, 0);
    opacity: .3;
    transition: 0s;
}