/* K-LOVE styles */

@font-face {
    font-family: 'kl2-icons';
    src: url('/klove2/fonts/kl2-icons.woff');
}

#header-img {
    background-image: url('../img/wesley-tingey-223059.jpg');
    height: 200px;
    background-size: cover;
    background-position: center;
}

/* ANIMATE IMAGE */

.v-move {
    -webkit-animation: secondaryNav 150s ease infinite;
    -moz-animation: secondaryNav 150s ease infinite;
    -o-animation: secondaryNav 150s ease infinite;
    animation: secondaryNav 150s ease infinite;
}

/* ANIMATE COLOR */

.color-change-2x {
    -webkit-animation: color-change-2x 2s linear infinite alternate both;
    animation: color-change-2x 2s linear infinite alternate both;
}

@keyframes color-change-2x {
    0% {
        background: #007bef;
    }
    100% {
        background: #00AEEF;
    }
}

/* MISC */

.bg-dark-5 {
    background: rgba(53, 59, 65, 0.75);    
}

.v-align {
    line-height: 0;
    vertical-align: middle;
}

.wave-light {
    background: url(../img/wave-texture-light.png);
    background-repeat: repeat;
    background-size: 500px;
}

.wave-dark {
    background: url(../img/wave-texture-dark.png);
    background-repeat: repeat;
    background-size: 500px;
}

.wave-primary {
    background: url(../img/wave-texture-primary.png);
    background-repeat: repeat;
    background-size: 500px;
}

.nm-2 {
    margin-top:-2rem;
}

.nm-1 {
    margin-top: -4.5rem;
}

.nm-3 {
    margin-top: -2.5rem;
}

.nml-1 {
    margin-left: -4rem;
}

.npad-lr-1 {
    margin-right: -1rem;
    margin-left: -1rem;
}

.ic-center {
    margin-top: 35%;
}

.vl {
    border-left: 1px solid;
}

.hl {
    border-bottom: 5px solid #E5F6FD;
}

.v-align-middle {
    position:relative;    transform:translateY(-50%);
    top:50%;
}

.full-width {
    width: 100vw;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}

.fluid-band {
    width: 100%;
    padding-left: 0;
    margin-left: 0;
    padding-top: 2em;
    padding-bottom: 2em;
}

.shadow-light {
    text-decoration: none;
    -webkit-box-shadow: 0px 13px 39px 0px rgba(0, 42, 58,0.1);
    -moz-box-shadow: 0px 13px 39px 0px rgba(0, 42, 58,0.1);
    box-shadow: 0px 13px 39px 0px rgba(0, 42, 58,0.1);
    transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.shadow-2 {
    -webkit-box-shadow: 0px 13px 39px 0px rgba(0,0,0,0.15);
    -moz-box-shadow: 0px 13px 39px 0px rgba(0,0,0,0.15);
    box-shadow: 0px 13px 39px 0px rgba(0,0,0,0.15);
}

.shadow-3 {
    -webkit-box-shadow: 0px 13px 39px 0px rgba(0,0,0,0.1);
    -moz-box-shadow: 0px 13px 39px 0px rgba(0,0,0,0.1);
    box-shadow: 0px 13px 39px 0px rgba(0,0,0,0.1);
}


.hard-shadow {
    -webkit-box-shadow: 0px 3px 0px 0px rgba(0,0,0,0.05);
    -moz-box-shadow: 0px 3px 0px 0px rgba(0,0,0,0.05);
    box-shadow: 0px 3px 0px 0px rgba(0,0,0,0.05);
}

.op40 {
    opacity: 0.4;
    filter: alpha(opacity=40); /* For IE8 and earlier */
}

.op60 {
    opacity: 0.6;
    filter: alpha(opacity=40); /* For IE8 and earlier */
}


/* TYPOGRAPHY */

.emf-text-shadow {
    text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.4);
}

.text-cyan {
    color: #00AEEF;
}

.red {
    background-color: lightgrey;
    height: 1em;
}

.bg-magenta {
    background-color: #C63663;
}

.bg-orange {
    background-color: #ED6430;
}

.bg-yellow {
    background-color: #FFDF63;
}

.bg-cyan {
    background-color: #00AEEF;
}

.gray {
    background-color: #F7F8FA;
}

.light-cyan {
    background-color: #E5F6FD;
}

.light-cyan-2 {
    background-color: #F3F9FF;
}

.bg-kldark {
    background-color: #273444;
}

.bg-kllight {
    background-color: #e9ecef;
}


/* SOCIAL */

.bg-facebook {
    background-color: #3b5998;
}

.bg-instagram {
    background-color: #c13584;
}

.color-facebook {
    color: #3b5998;
}

.color-pinterest {
    color: #bd081c;
}

.color-youtube {
    color: #ff0000;
}

/* ALERTS */

.alert {
    border-style: none;
    border-radius: 5px;
}


/* COLOR CARDS & TEXT */

.prime-base {
    background-color: #00AEEF;
    height: 5.4em;
    border-radius: .25em;
}

.color-secondary {
    background-color: #000000;
    height: 5.4em;
    border-radius: .25em;
}

.color-highlight-1 {
    background-color: #ED6430;
    height: 5.4em;
    border-radius: .25em;
}

.color-highlight-2 {
    background-color: #FFDF63;
    height: 5.4em;
    border-radius: .25em;
}

.color-highlight-3 {
    background-color: #C63663;
    height: 5.4em;
    border-radius: .25em;
}

.text-magenta {
    color: #C63663;
}

.text-orange {
    color: #ED6430;
}

.text-yellow {
    color: #FFDF63;
}

.text-cyan {
    color: #00AEEF;
}

.text-grad {
    background: linear-gradient(45deg, #00AEEF 0%, #00D7F8 100%);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;

}

/* BADGES */

.badge {
    border-radius: 0;
}

.badge-danger {
    background-color: #C63663;
}

.badge-warning {
    background-color: #FFDF63;
}

.badge-primary {
    background-color: #00AEEF;
}

/* TYPOGRAPHY */


h1 {
    color: #343a40;
}

h3 {
    line-height: 1.5em;
}

h4 {
    line-height: 1.5em;
}

h5 {
    line-height: 1.3em;
    letter-spacing: .02em;
}

h6 {
    line-height: 1.4em;
}

a {
    color: #00AEEF;
}

a {
    transition: background-color 0.5s ease;
}

p {
    line-height: 1.75em;
}

a:hover {
    transition: background-color 0.5s ease;
}

.subhead {
    color: #868e96;
    font-weight: 300;
    letter-spacing: 1px;
    font-size: 24px;
}

.section-heading {
    background-color: aqua;
    color: white;
}

/* BUTTONS SOLID */

a.hvr-grow, a.hvr-float {
    transition: all 0.5s ease; 
}

.dropdown-item:hover {
    background-color: #e9ecef;
    transition: all 0.5s ease;
}

.btn.btn-round {
    border-radius: 15rem;
}

.round-edge {
    border-radius: 15rem;
}

.fill-hov {
    background-color: white;
    transition: all 0.5s ease;
}

.fill-hov:hover {
    background-color: #e9ecef;
    transition: all 0.5s ease;
}

.dropdown-item:hover {
    background-color: #e9ecef;
    transition: all 0.5s ease;
}

.btn.btn-round {
    border-radius: 15rem;
}

.round-edge {
    border-radius: 15rem;
}

.badge {
    padding: .625em;
    font-weight: 400;
}

.btn-wrap .btn {
    margin-left: 25px;
    margin-bottom: 25px;
}

.btn-primary, .btn-secondary, .btn-warning, .btn-success, .btn-danger, .btn-info, .btn-light, .btn-dark, .btn-link {
    font-weight: 400;
    padding: .75em 1.25em;
    border-width: 0px;
    border-radius: 5px;
    transition: all 0.5s ease;
}

.btn-wrap {
    margin-left: -25px;
}

.btn-primary {
    background-color: #00AEEF;
    transition: all 0.5s ease;
}

.btn-link {
    background-color: #fff;
    color: #00AEEF;
}

.btn-primary:hover {
    background-color: #33BEF2;
    -webkit-box-shadow: 0px 13px 39px 0px rgba(0,174,239,0.3);
    -moz-box-shadow: 0px 13px 39px 0px rgba(0,174,239,0.3);
    box-shadow: 0px 13px 39px 0px rgba(0,174,239,0.3);
    transition: all 0.5s ease;
}

.btn-secondary:hover {
    background-color: #a2aab2;
    -webkit-box-shadow: 0px 13px 39px 0px rgba(134,142,150,0.3);
    -moz-box-shadow: 0px 13px 39px 0px rgba(134,142,150,0.3);
    box-shadow: 0px 13px 39px 0px rgba(134,142,150,0.3);
    transition: all 0.5s ease;
}

.btn-success:hover {
    background-color: #53B86A;
    -webkit-box-shadow: 0px 13px 39px 0px rgba(83,184,106,0.3);
    -moz-box-shadow: 0px 13px 39px 0px rgba(83,184,106,0.3);
    box-shadow: 0px 13px 39px 0px rgba(83,184,106,0.3);
    transition: all 0.5s ease;

}

.btn-danger:hover {
    background-color: #E35D6A;
    -webkit-box-shadow: 0px 13px 39px 0px rgba(220,53,69,0.3);
    -moz-box-shadow: 0px 13px 39px 0px rgba(220,53,69,0.3);
    box-shadow: 0px 13px 39px 0px rgba(220,53,69,0.3);
    transition: all 0.5s ease;
}

.btn-warning:hover {
    background-color: #FFCD38;
    -webkit-box-shadow: 0px 13px 39px 0px rgba(255,205,56,0.3);
    -moz-box-shadow: 0px 13px 39px 0px rgba(255,205,56,0.3);
    box-shadow: 0px 13px 39px 0px rgba(255,205,56,0.3);
    transition: all 0.5s ease;
}

.btn-dark:hover {
    background-color: #5C6166;
    -webkit-box-shadow: 0px 13px 39px 0px rgba(52,58,64,0.3);
    -moz-box-shadow: 0px 13px 39px 0px rgba(52,58,64,0.3);
    box-shadow: 0px 13px 39px 0px rgba(52,58,64,0.3);
    transition: all 0.5s ease;
}

.btn-light:hover {
    -webkit-box-shadow: 0px 13px 39px 0px rgba(226,230,234,0.5);
    -moz-box-shadow: 0px 13px 39px 0px rgba(226,230,234,0.5);
    box-shadow: 0px 13px 39px 0px rgba(226,230,234,0.5);
    transition: all 0.5s ease;
}

.btn-info:hover {
    background-color: #45B4C6;
    -webkit-box-shadow: 0px 13px 39px 0px rgba(69,180,198,0.3);
    -moz-box-shadow: 0px 13px 39px 0px rgba(69,180,198,0.3);
    box-shadow: 0px 13px 39px 0px rgba(69,180,198,0.3);
    transition: all 0.5s ease;
}

.btn-link:hover {
    text-decoration: none;
    background-color: #fff;
    color: #00AEEF;
    -webkit-box-shadow: 0px 13px 39px 0px rgba(0, 42, 58,0.1);
    -moz-box-shadow: 0px 13px 39px 0px rgba(0, 42, 58,0.1);
    box-shadow: 0px 13px 39px 0px rgba(0, 42, 58,0.1);
    transition: all 0.5s ease;
}


/* BUTTONS OUTLINED */

.btn-outline-primary, .btn-outline-secondary, .btn-outline-warning, .btn-outline-success, .btn-outline-danger, .btn-outline-info, .btn-outline-light, .btn-outline-dark {
    font-weight: 300;
    padding: .75em 1.2em;
    border-radius: 5px;
    transition: all 0.5s ease;
}

.btn-outline-light {
    color: #343a40;
    border-color: #b8bfc4;
}

.btn-outline-light:hover {
    color: #fff;
    background-color: #868e96;
    border-color: #868e96;
}

.btn-outline-primary {
    color: #002A3A;
    border-color: #00AEEF;
}

.btn-outline-primary:hover {
    color: #fff;
    border-color: #00AEEF;
    background-color: #00AEEF;
}



/* FORMS */

.form-control {
    padding: .75em 1.2em .75em .75em;
    border-width: 2px;
    border-radius: 5px;
    border-color: #b8bfc4;
}


/* CARD */

.watch {
    transition: all 0.5s ease;
}

.watch:hover {
    color: aqua;
    background-color: aqua;
    transition: all 0.5s ease;
}

.height-fix {
    height: 100%;
    width: 100%;
}

.diffuse {
    transition: all 0.5s ease;
}

.diffuse:hover {
    text-decoration: none;
    -webkit-box-shadow: 0px 13px 39px 0px rgba(0, 42, 58,0.1);
    -moz-box-shadow: 0px 13px 39px 0px rgba(0, 42, 58,0.1);
    box-shadow: 0px 13px 39px 0px rgba(0, 42, 58,0.1);
    transition: all 0.5s ease;
}

.r-diffuse:hover {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    transition: all 0.5s ease;
}

.hov-white:hover {
    background-color: white;
    transition: all 0.5s ease;
}

/* RIPPLE EFFECT */

.ripple {
    position: relative;
    overflow: hidden;
    transform: translate3d(0, 0, 0);
}
.ripple:after {
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    pointer-events: none;
    background-image: radial-gradient(circle, #efefef 10%, transparent 10.01%);
    background-repeat: no-repeat;
    background-position: 50%;
    transform: scale(10, 10);
    opacity: 0;
    transition: transform .5s, opacity 1s;
}
.ripple:active:after {
    transform: scale(0, 0);
    opacity: .3;
    transition: 0s;
}

/* RIPPLE ON LIGHT */

.ripple-2 {
    position: relative;
    overflow: hidden;
    transform: translate3d(0, 0, 0);
}
.ripple-2:after {
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    pointer-events: none;
    background-image: radial-gradient(circle, #00AEEF 10%, transparent 10.01%);
    background-repeat: no-repeat;
    background-position: 50%;
    transform: scale(10, 10);
    opacity: 0;
    transition: transform .5s, opacity 1s;
}
.ripple-2:active:after {
    transform: scale(0, 0);
    opacity: .3;
    transition: 0s;
}

/* MEDIA Q */
@media (max-width: 576px) { 
    h1.display-4 {font-size: 2.5rem;}
    h1.display-3 {font-size: 2.5rem;}
    h1.div.span {font-size: 2.5rem;}
    .nml-1 {margin-left: 0;}
    .card-artist, .h5 {
        font-size: .5rem;}
    h2.player-text {font-size: 1.25rem;}
    h3.player-text {font-size: 1.25rem;}
    .lyrics-small {font-size: .75rem;}
}

/* WAVE ANIMATION */
.fluid-waves {
    position:absolute;
    left:0;
    width:100vw;
    height:220px;
    overflow:hidden
}
.wave {
    position:absolute;
    top:-3%;
    left:50%;
    background:#00AEEF;
    width:700px;
    height:700px;
    margin-left:-330px;
    margin-top:-530px;
    transform-origin:50% 48%;
    border-radius:43%;
    animation:drift 80s infinite linear;
    z-index:1;
    opacity:1;
    -webkit-font-smoothing:antialiased
}
.wave.three {
    animation:drift 110s infinite linear;
    background:#00AEEF;
    opacity:1;
    mix-blend-mode:soft-light;
}
.wave.two {
    animation:drift 120s infinite linear;
    background:#00AEEF;
    mix-blend-mode:soft-light;
    opacity:1;
}
@keyframes drift {
    from {
        transform:rotate(0)
    }
    from {
        transform:rotate(360deg)
    }
}

@media only screen and (min-width:1024px) {

    .fluid-waves {
        position:absolute;
        left:0;
        width:100vw;
        height:550px;
        overflow:hidden
    }
    .wave {
        position:absolute;
        top:-3%;
        left:50%;
        width:4500px;
        height:4500px;
        margin-left:-2280px;
        margin-top:-4250px;
        transform-origin:50% 48%;
        z-index:1;
    }
}

@keyframes scaleDown {
    0% {
        transform:scale(1)
    }
    50% {
        transform:scale(.9)
    }
    100% {
        transform:scale(1)
    }
}
@keyframes scaleDownCenter {
    0% {
        transform:scale(1)
    }
    50% {
        transform:scale(.8)
    }
    100% {
        transform:scale(1)
    }
}


@keyframes syntaxscale {
    25% {
        transform:scale(1) rotate(-90deg)
    }
    50% {
        transform:scale(1) rotate(0)
    }
    100% {
        transform:scale(1) rotate(0)
    }
}
@keyframes syntaxblue {
    80% {
        transform:translateY(15px)
    }
    100% {
        transform:translateY(0)
    }
}
@keyframes syntaxwhite {
    80% {
        transform:translateY(-15px)
    }
    100% {
        transform:translateY(0)
    }
}

/* PARALLAX */
.parallax { 
    background-image: url("https://images.unsplash.com/photo-1487954277007-8c2d6710c312?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=7323d12255257222b2431590ae0f506e&auto=format&fit=crop&w=2550&q=80");

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.parallax-2 { 
    background-image: url("https://images.unsplash.com/photo-1507251223564-348143a5d16d?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=4523f416b7cd619b7e0f8ab15f84b606&auto=format&fit=crop&w=2550&q=80");
    background-color: #212529;
    width: 100%;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/* IMAGE MUTED */
.bg-muted {
    background-image: url("https://images.unsplash.com/photo-1521623640204-af96760d7003?ixlib=rb-0.3.5&s=24d04d4b39761c146d2fab7db8cde674&auto=format&fit=crop&w=2500&q=80");
    background-position: bottom;
    background-size: cover;
    /*    background-blend-mode: overlay;*/
}

/* WORD ROTATE */


/*.rw-sentence{*/
/*	margin: 0;*/
/*	text-align: left;*/
/*	text-shadow: 1px 1px 1px rgba(255,255,255,0.8);*/
/*}*/

/*.rw-sentence span{*/
/*	color: #444;*/
/*	font-size: 200%;*/
/*	font-weight: normal;*/
/*}*/
.rw-words{
    display: inline;
    text-indent: 10px;
}
.rw-words-1 span{
    position: absolute;
    opacity: 0;
    overflow: hidden;
    -webkit-animation: rotateWord 12s linear infinite 0s;
    -ms-animation: rotateWord 12s linear infinite 0s;
    animation: rotateWord 12s linear infinite 0s;
}
.rw-words-1 span:nth-child(2) { 
    -webkit-animation-delay: 3s; 
    -ms-animation-delay: 3s; 
    animation-delay: 3s; 
}
.rw-words-1 span:nth-child(3) { 
    -webkit-animation-delay: 6s; 
    -ms-animation-delay: 6s; 
    animation-delay: 6s; 
}
.rw-words-1 span:nth-child(4) { 
    -webkit-animation-delay: 9s; 
    -ms-animation-delay: 9s; 
    animation-delay: 9s; 
}
.rw-words-1 span:nth-child(5) { 
    -webkit-animation-delay: 12s; 
    -ms-animation-delay: 12s; 
    animation-delay: 12s; 
}
.rw-words-1 span:nth-child(6) { 
    -webkit-animation-delay: 15s; 
    -ms-animation-delay: 15s; 
    animation-delay: 15s; 
}
@-webkit-keyframes rotateWord {
    0% { opacity: 0; }
    2% { opacity: 0; -webkit-transform: translateY(-30px); }
    5% { opacity: 1; -webkit-transform: translateY(0px);}
    17% { opacity: 1; -webkit-transform: translateY(0px); }
    20% { opacity: 0; -webkit-transform: translateY(30px); }
    80% { opacity: 0; }
    100% { opacity: 0; }
}
@-ms-keyframes rotateWord {
    0% { opacity: 0; }
    2% { opacity: 0; -ms-transform: translateY(-30px); }
    5% { opacity: 1; -ms-transform: translateY(0px);}
    17% { opacity: 1; -ms-transform: translateY(0px); }
    20% { opacity: 0; -ms-transform: translateY(30px); }
    80% { opacity: 0; }
    100% { opacity: 0; }
}
@keyframes rotateWord {
    0% { opacity: 0; }
    2% { opacity: 0; -webkit-transform: translateY(-30px); transform: translateY(-30px); }
    5% { opacity: 1; -webkit-transform: translateY(0px); transform: translateY(0px);}
    17% { opacity: 1; -webkit-transform: translateY(0px); transform: translateY(0px); }
    20% { opacity: 0; -webkit-transform: translateY(30px); transform: translateY(30px); }
    80% { opacity: 0; }
    100% { opacity: 0; }
}

/* POP OVER */

.popover {
    border:none;
    box-shadow: 0px 13px 39px 0px rgba(0, 0, 0, 0.15);
    max-width:350px;
    z-index:99999;
}
.popover-buy, .popover-lyrics, .popover-share {
    color:#999;
    font-weight:400;
}
.bs-popover-top .arrow::before {
    border-top-color:transparent;
}
.popover-lyrics {
    margin:0 .5rem;
}


/* BETTER BLUR? */

.blur-dn {
    backdrop-filter: blur(10px);
}

/* BG BLUR */
.jumbotron-blur {
    overflow:hidden;
    position:relative;
}
.jumbotron .artist-img-blur {
    background-position:center 50%;
    background-repeat:no-repeat;
    background-size:cover;

    position:absolute;
    transform:translateX(-50%) translateY(-50%) translateZ(0px);
    left:50%; top:50%;
    -webkit-filter:blur(20px);
    filter:blur(20px);
    height:120%;
    width:120%;
}
.jumbotron img {
    position:absolute;
    transform:translateX(-50%) translateY(-50%) translateZ(0px);
    left:50%; top:50%;
    width:120%;
    -webkit-filter:blur(35px);
    filter:blur(35px);
}

.angle {
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 80%, 0 100%);
    clip-path: polygon(0 0, 100% 0, 100% 80%, 0 100%);
}